.about {
  position: relative;
  padding: 3rem 35px 15rem 35px;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.about.light {
  background: white;
}
.about.dark {
  background: var(--dark-theme-black-light);
}

/* --------QUOTE BACKGROUND -----------  */
.about-quote {
  position: absolute;
  bottom: 65%;
  width: 80vw;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  z-index: 0;
}
.about-quote.light {
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 15px rgb(223, 223, 223);
}
.about-quote.dark {
  color: var(--dark-theme-black-light);
  text-shadow: 10px 15px 30px rgba(15, 15, 15, 0.9);
}

.about-upper-quote {
  display: flex;
  justify-content: flex-start;
  font-size: clamp(35px, 8vw, 70px);
  font-weight: 600;
  font-style: italic;
}

.about-lower-quote {
  display: flex;
  justify-content: flex-end;
  font-size: clamp(35px, 8vw, 70px);
  font-weight: 600;
  font-style: italic;
  padding-left: 20px;
}

/* --------------CONTENT --------------- */
.about-wrap {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  z-index: 3;
}
.about-wrap.light {
  background-color: white;
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.5);
}
.about-wrap.dark {
  background-color: var(--dark-theme-black);
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 1);
}

.picwrap {
  display: flex;
  justify-content: center;
}

.cvpic {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  padding: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.cvpic.light {
  border: 1px solid black;
}
.cvpic.dark {
  border: 1px solid white;
}
.cvpic img{
  width: 100%;
}

.about-text-wrap {
  transition: 0.3s ease-in-out;
}
.about-text-wrap.light {
  color: black;
}
.about-text-wrap.dark {
  color: var(--dark-theme-font-color);
}

.about-heading {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-left: 33px;
  margin-right: 33px;
}

.about-text {
  margin-left: 33px;
  margin-right: 33px;
  text-align: justify;
  font-size: 15px;
  opacity: 0.9;
}

@media screen and (max-width: 700px) {
  .about-wrap {
    margin-right: 12px;
    margin-left: 12px;
  }

  .about-heading {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about-text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 360px) {
  .about-text {
    font-size: 14px;
  }

  .about {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .about-text {
    font-size: 12.8px;
  }

  .about {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 280px) {
  .about {
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-text {
    font-size: 12px;
  }
}
