/* ----------TITLES AND EMBOSSED BACKGROUND ---------*/
.services {
  position: relative;
  padding: 0rem 0 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.services.light{
  background-color: white;
}
.services.dark{
  background: var(--dark-theme-black-light);
}

.services-title {
  padding: 0;
  color: black;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}
.services-title.light {
  color: black;
}
.services-title.dark {
  color: white;
}

.sub-services-title {
  text-align: center;
  padding: 1rem 0;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}
.sub-services-title.light {
  color: black;
}
.sub-services-title.dark {
  color: white;
}

.services-big-title {
  text-align: center;
  position: absolute;
  bottom: 70%;
  left: 0;
  font-size: clamp(57px, 21vw, 280px);
  overflow: hidden;
  white-space: nowrap;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  z-index: 1;
}
.services-big-title.light {
  color: white;
  text-shadow: 10px 15px 30px rgb(230, 230, 230);
}
.services-big-title.dark {
  color: var(--dark-theme-black-light);
  text-shadow: 10px 15px 30px var(--dark-theme-emboss-shadow);
}

.services-big-title:after {
  content: "";
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .services-big-title {
    top: 12%;
  }
}

@media screen and (max-width: 768px) {
  .sub-services-title {
    padding: 0 0 1rem 0;
  }
}

.services-quote {
  position: absolute;
  bottom: 5.5%;
  right: 8%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  min-height: 100px;
  min-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  z-index: 0;
}
.services-quote.light {
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 15px rgb(223, 223, 223);
}
.services-quote.dark {
  color: var(--dark-theme-black-light);
  text-shadow: 10px 15px 30px var(--dark-theme-quote-shadow);
}

@media screen and (max-width: 280px) {
  .services-quote {
    right: 0;
  }
}

/* SOLUTION1 */
/* .upper-quote {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lower-quote {
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

/* SOLUTION2 */
.upper-quote {
  display: flex;
  justify-content: flex-start;
  font-size: clamp(35px, 8vw, 70px);
  font-weight: 600;
  font-style: italic;
}

.lower-quote {
  display: flex;
  justify-content: flex-end;
  font-size: clamp(35px, 8vw, 70px);
  font-weight: 600;
  font-style: italic;
  padding-left: 20px;
}

/*-------------------- CONTENT -------------------*/

.services-container {
  margin-top: 6rem;
}

@media screen and (max-width: 799px) {
  .services-container {
    margin-top: 14rem;
  }
}

@media screen and (max-width: 682px) {
  .services-container {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 375px) {
  .services-container {
    margin-top: 8rem;
  }
}

.services-row {
  position: relative;
  padding: 5px;
  z-index: 2;
  transition: border-radius 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.services-row.light {
  background-color: white;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}
.services-row.dark {
  border-radius: 20px;
  background-color: var(--dark-theme-black);
  box-shadow:
    7px 7px 25px black, 
    inset 0px 0px 10px rgba(109, 123, 133, 0.4);
}

.box-wrap {
  /* background-color: black; */
  height: 9.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
.box-wrap.light {
  background-color: white;
}
.box-wrap.dark {
  background-color: var(--dark-theme-black);
  box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.5);
}
.box-wrap:hover {
  border-bottom-right-radius: 40%;
}

/* ICONS */
.box-react,
.box-nextjs,
.box-js,
.box-html,
.box-css,
.box-node,
.box-express,
.box-mongo,
.box-jest,
.box-cypress,
.box-vagrant,
.box-jira,
.box-gitlab,
.box-mui,
.box-adobe {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 9.5rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
.box-react.light,
.box-nextjs.light,
.box-js.light,
.box-html.light,
.box-css.light,
.box-node.light,
.box-express.light,
.box-mongo.light,
.box-jest.light,
.box-cypress.light,
.box-vagrant.light,
.box-jira.light,
.box-gitlab.light,
.box-mui.light,
.box-adobe.light {
  background: white;
}
.box-react.dark,
.box-nextjs.dark,
.box-js.dark,
.box-html.dark,
.box-css.dark,
.box-node.dark,
.box-express.dark,
.box-mongo.dark,
.box-jest.dark,
.box-cypress.dark,
.box-vagrant.dark,
.box-jira.dark,
.box-gitlab.dark,
.box-mui.dark,
.box-adobe.dark {
  background: var(--dark-theme-black);
  color: var(--dark-theme-font-color);
}
.box-react {
  /* background: #46d0f3; */
  border-bottom: 15px solid #46d0f3;
}
.box-nextjs.light {
  /* background: #2E71E5; */
  border-bottom: 15px solid #000000;
}
.box-nextjs.dark {
  /* background: #2E71E5; */
  border-bottom: 15px solid #ffffff;
}
.box-js {
  /* background: #3178c6; */
  border-bottom: 15px solid #3178c6;
}
.box-html {
  /* background: rgb(247, 158, 75); */
  border-bottom: 15px solid rgb(247, 158, 75);
}
.box-css {
  /* background: #66b5fa; */
  border-bottom: 15px solid #66b5fa;
}
.box-node {
  /* background: #3c873a; */
  border-bottom: 15px solid #68a063;
}
.box-express {
  /* background: #3c873a; */
  border-bottom: 15px solid #68a063;
}
.box-mongo {
  /* background: rgb(77, 179, 61); */
  border-bottom: 15px solid rgb(77, 179, 61);
}
.box-jest {
  /* background: #2E71E5; */
  border-bottom: 15px solid #9a2649;
}
.box-cypress {
  /* background: #2E71E5; */
  border-bottom: 15px solid #129B8D;
}
.box-vagrant {
  /* background: #2E71E5; */
  border-bottom: 15px solid #2E71E5;
}
.box-jira {
  /* background: rgb(1,70,179); */
  border-bottom: 15px solid rgb(1,70,179);
}
.box-gitlab {
  /* background: #e24329; */
  border-bottom: 15px solid #e24329;
}
.box-mui {
  /* background: rgb(200, 112, 255); */
  border-bottom: 15px solid rgb(200, 112, 255);
}
.box-adobe {
  /* background: #d53538; */
  border-bottom: 15px solid #d53538;
}

.icon-wrap {
  position: relative;
  margin: 20px auto;
  background: black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.icon-wrap-express {
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: left;
  background: black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.icon-wrap-express .express-span {
  color: white;
  font-size: 10px;
  margin-left: 3px;
  font-weight: 200;
}

.icon-react,
.icon-html,
.icon-css,
.icon-node,
.icon-jira,
.icon-gitlab,
.icon-mui,
.icon-adobe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-nextjs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  width: 40px;
  height: auto;
}

.icon-jsts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 70px;
  height: 65px;
}
.icon-express {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #88cf81;
}

.icon-mongo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
  width: 50px;
  height: 50px;
}

.icon-jest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  width: 35px;
  height: 35px;
}

.icon-cypress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  width: 35px;
  height: 35px;
}

.icon-vagrant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  width: 35px;
  height: 35px;
}

.icon-react {
  color: #61dbfb;
}
.icon-html {
  color: rgb(247, 158, 75);
}
.icon-css {
  color: #66b5fa
}
.icon-node {
  color: #7ebe78;
}
.icon-jira {
  color: rgb(0,82,204);
}
.icon-gitlab {
  color: #e24329;
}
.icon-mui {
  color: rgb(200, 112, 255);
}
.icon-adobe {
  width: 30px;
  height: 30px;
}

/* -----------HOVER------------- */
.box-react::before,
.box-nextjs::before,
.box-js::before,
.box-html::before,
.box-css::before,
.box-node::before,
.box-express::before,
.box-mongo::before,
.box-jest::before,
.box-cypress::before,
.box-vagrant::before,
.box-jira::before,
.box-gitlab::before,
.box-mui::before,
.box-adobe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: -1;
}

.box-react.light::before {
  background: linear-gradient(to bottom, white, white, #61dbfb 80%, whitesmoke);
}
.box-nextjs.light::before {
  background: linear-gradient(to bottom, white, white, #000000 80%, rgb(218, 217, 217));
}
.box-js.light::before {
  background: linear-gradient(to bottom, white, white, #3178c6 80%, whitesmoke);
}
.box-html.light::before {
  background: linear-gradient(to bottom, white, white, rgb(247, 158, 75) 80%,whitesmoke);
}
.box-css.light::before {
  background: linear-gradient(to bottom, white, white, #2b90e7 80%,rgb(218, 217, 217));
}
.box-node.light::before {
  background: linear-gradient(to bottom, white, white, #3c873a 80%, rgb(218, 217, 217));
}
.box-express.light::before {
  background: linear-gradient(to bottom, white, white, #3c873a 80%, rgb(218, 217, 217));
}
.box-mongo.light::before {
  background: linear-gradient(to bottom, white, white, rgb(77, 179, 61) 80%, rgb(218, 217, 217));
}
.box-jest.light::before {
  background: linear-gradient(to bottom, white, white, #9a2649 80%, rgb(218, 217, 217));
}
.box-cypress.light::before {
  background: linear-gradient(to bottom, white, white, #129B8D 80%, rgb(218, 217, 217));
}
.box-vagrant.light::before {
  background: linear-gradient(to bottom, white, white, #2E71E5 80%, rgb(218, 217, 217));
}
.box-jira.light::before {
  background: linear-gradient(to bottom, white, white, rgb(1,70,179) 80%, rgb(218, 217, 217));
}
.box-gitlab.light::before {
  background: linear-gradient(to bottom, white, white, #e24329 80%, rgb(218, 217, 217));
}
.box-mui.light::before {
  background: linear-gradient(to bottom, white, white, rgb(154, 83, 197) 80%, rgb(218, 217, 217));
}
.box-adobe.light::before {
  background: linear-gradient(to bottom, white, white, #d53538 80%, rgb(218, 217, 217));
}

.box-react.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #61dbfb 70%, whitesmoke);
}
.box-nextjs.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #ffffff 70%, rgb(218, 217, 217));
}
.box-js.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #3178c6 70%, whitesmoke);
}
.box-html.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), rgb(247, 158, 75) 70%,whitesmoke);
}
.box-css.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #2b90e7 70%,rgb(218, 217, 217));
}
.box-node.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #3c873a 70%, rgb(218, 217, 217));
}
.box-express.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #3c873a 70%, rgb(218, 217, 217));
}
.box-mongo.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), rgb(77, 179, 61) 70%, rgb(218, 217, 217));
}
.box-jest.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #9a2649 70%, rgb(218, 217, 217));
}
.box-cypress.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #129B8D 70%, rgb(218, 217, 217));
}
.box-vagrant.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #2E71E5 70%, rgb(218, 217, 217));
}
.box-jira.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), rgb(1,70,179) 70%, rgb(218, 217, 217));
}
.box-gitlab.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #e24329 70%, rgb(218, 217, 217));
}
.box-mui.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), rgb(154, 83, 197) 70%, rgb(218, 217, 217));
}
.box-adobe.dark::before {
  background: linear-gradient(to bottom, var(--dark-theme-black-light), var(--dark-theme-black-light), #d53538 70%, rgb(218, 217, 217));
}

.box-react:hover::before,
.box-nextjs:hover::before,
.box-js:hover::before,
.box-html:hover::before,
.box-css:hover::before,
.box-node:hover::before,
.box-express:hover::before,
.box-mongo:hover::before,
.box-jest:hover::before,
.box-cypress:hover::before,
.box-vagrant:hover::before,
.box-jira:hover::before,
.box-gitlab:hover::before,
.box-mui:hover::before,
.box-adobe:hover::before {
  transform: translateY(-40%);
}

.box-react:hover,
.box-nextjs:hover,
.box-js:hover,
.box-html:hover,
.box-css:hover,
.box-node:hover,
.box-express:hover,
.box-mongo:hover,
.box-jest:hover,
.box-cypress:hover,
.box-vagrant:hover,
.box-jira:hover,
.box-gitlab:hover,
.box-mui:hover,
.box-adobe:hover {
  border-bottom: 3px solid var(--dark);
  border-bottom-right-radius: 40%;
  transition: 0.5s ease-in-out;
}

.box-react:hover,
.box-nextjs.dark:hover,
.box-js:hover,
.box-html:hover {
  color: black;
}
.box-nextjs:hover,
.box-css:hover,
.box-node:hover,
.box-express:hover,
.box-mongo:hover,
.box-jest:hover,
.box-cypress:hover,
.box-vagrant:hover,
.box-jira:hover,
.box-gitlab:hover,
.box-mui:hover,
.box-adobe:hover {
  color: whitesmoke;
}

.box-css:hover .icon-wrap,
.box-node:hover .icon-wrap,
.box-express:hover .icon-wrap-express,
.box-mongo:hover .icon-wrap,
.box-jest:hover .icon-wrap,
.box-cypress:hover .icon-wrap,
.box-vagrant:hover .icon-wrap,
.box-jira:hover .icon-wrap,
.box-gitlab:hover .icon-wrap,
.box-mui:hover .icon-wrap,
.box-adobe:hover .icon-wrap {
  background: whitesmoke;
  transition: 0.3s ease-in-out;
}

.box-css:hover .icon-css {
  color: #2c8de2;
  transition: 0.3s ease-in-out;
}

.box-express:hover .icon-express {
  color: #3c873a;
  transition: 0.3s ease-in-out;
}
.box-express:hover .express-span {
  color: black;
  transition: 0.3s ease-in-out;
}

.box:hover .icon-wrap {
  background: var(--dark);
  transition: 0.3s ease-in-out;
}

.box:hover .icon {
  color: var(--orange);
  transition: 0.3s ease-in-out;
}

.services h3 {
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}
