:root {
  --white: #fff;
  --orange: #f9ab00;
  --dark-orange: #ff9b61;
  --red: #ef4035;
  --hover-red: #f33501;
  --gray: #f4f4f4;
  --dark-grey: #666666;
  --dark: rgb(52, 58, 64);
  --light-brown: #e7d8cc;
  --dark-brown: #b1a296;
  --light-blue: #7395ae;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* outline: solid 1px red; */
  /* overflow-x: hidden; */

  /* position: relative; */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./img/background1.jpg) no-repeat;
  background-size: cover;
  background-position: center; */
  /* background-attachment: fixed; */
  /* height: 100vh;*/
}

/* Navbar Section */

/* 
@media screen and (max-height: 280px) {
  .popupbox-wrapper {
    height: 100%;
  }

  .img-popupbox {
    width: 65%;
  }
} */
