:root {
  --white: #fff;
  --orange: #f9ab00;
  --dark-orange: #ff9b61;
  --red: #ef4035;
  --hover-red: #f33501;
  --gray: #f4f4f4;
  --dark-grey: #666666;
  --dark: rgb(52, 58, 64);
  --light-brown: #e7d8cc;
  --dark-brown: #b1a296;
  --light-blue: #7395ae;
  --golden: #ad974f;  /* rgb(173, 151, 79) */

  --light-theme-bg-layer-black-rgb: 0, 0, 0;
  --dark-theme-bg-layer-black-rgb: 33, 33, 33;

  --dark-theme-black: rgb(25, 25, 25);
  --dark-theme-black-light: rgb(33, 33, 33); /* rgb(43, 43, 43) */
  --dark-theme-gray: #86868B;
  --dark-theme-font-color: rgb(214, 214, 214);
  --dark-theme-emboss-shadow: rgba(20, 20, 20, 1);
  --dark-theme-quote-shadow: rgba(15, 15, 15, 0.9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Barlow", sans-serif; */
}
