:root {
  --white: #fff;
  --orange: #f9ab00;
  --dark-orange: #ff9b61;
  --red: #ef4035;
  --hover-red: #f33501;
  --gray: #f4f4f4;
  --dark-grey: #666666;
  --dark: rgb(52, 58, 64);
  --light-brown: #e7d8cc;
  --dark-brown: #b1a296;
  --light-blue: #7395ae;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}
